img,
video {
  width: 100%;
  display: block;
  height: auto;
}

#videoBG {
  position: static;
}
#kontakt_1 {
  grid-row: 9;
  grid-column: 1/11;
  text-align: center;
  align-self: flex-end;
  background-color: white;
}

#first_section1 h2 {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  text-align: center;
}

#second_section h2 {
  font-size: 40px;
  text-align: center;
}

#first_section1 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 5fr 1fr;
}

.element_1 {
  grid-column: 1/6;
  z-index: 1;
}

.element_2 {
  z-index: 2;
  border: 0.1vw solid black;
  padding: 1.5vw;
  max-width: 25em;
  grid-column: 2/3;
  background-color: white;
  margin-top: -100px;
  text-align: center;
  align-self: start;
}

#second_section {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 5fr 1fr;
  margin-top: 100px;
}

.small_col {
  grid-column: 2/3;
  border: 0.1vw solid black;
  padding: 1.5vw;
  max-width: 25em;
  align-self: start;
  text-align: center;
}

.col {
  margin-top: -250px;
  grid-column: 3/5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.img_1 {
  grid-column: 1/4;
  grid-row: 1/2;
}

.img_2 {
  margin-top: -30px;
  grid-column: 4/7;
}

.img_3 {
  margin-top: -50px;
  grid-column: 2/5;
}

@media (max-width: 1200px) {
  #first_section1 h2 {
    font-size: 35px;
  }

  #first_section1 {
    display: grid;
    grid-template-columns: auto;
  }

  .element_2 {
    align-self: center;
  }

  #second_section h2 {
    font-size: 35px;
  }

  #second_section {
    margin: 50px;
    display: grid;
    grid-template-columns: none;
    grid-template-rows: none;
  }

  .col {
    grid-template-columns: none;
    margin-top: 10px;
    grid-column: none;
    grid-template-rows: none;
  }

  .img_1 {
    grid-column: none;
    grid-row: none;
  }
  .img_2 {
    grid-column: none;
  }
  .img_3 {
    grid-column: none;
  }
  #kontakt {
    margin-top: 0;
  }
}

@media (max-width: 650px) {
  #first_section1 h2 {
    font-size: 25px;
  }

  #second_section h2 {
    font-size: 25px;
  }

  #first_section1 {
    display: grid;
    grid-template-rows: 300px 200px;
  }

  .element_2 {
    align-self: center;
    grid-column: 2/5;
  }
}
