img,
video {
  width: 100%;
  display: block;
  height: auto;
}

#first_section h2 {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  text-align: center;
}

#second_section h2 {
  font-size: 40px;
  text-align: center;
}

#first_section {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 5fr 1fr;
  grid-template-rows: 700px 350px;
}

.element_1 {
  grid-column: 1/6;
  z-index: 1;
}

.element_2 {
  z-index: 2;
  border: 0.1vw solid black;
  padding: 1.5vw;
  max-width: 25em;
  grid-column: 2/3;
  background-color: white;
  text-align: center;
  align-self: start;
}

#second_section {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 5fr 1fr;
  margin-top: 200px;
}

.small_col {
  grid-column: 2/3;
  border: 0.1vw solid black;
  padding: 1.5vw;
  max-width: 25em;
  align-self: start;
  text-align: center;
}

.col {
  margin-top: -200px;
  grid-column: 3/5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px 420px 500px;
}

.img_1 {
  grid-column: 1/4;
  grid-row: 2/3;
}

.img_2 {
  grid-column: 4/7;
}

.img_3 {
  grid-column: 2/5;
}

#kontakt {
  margin-top: 100px;
  text-align: center;
}

@media (max-width: 1200px) {
  #first_section h2 {
    font-size: 35px;
  }

  #first_section {
    display: grid;
    grid-template-rows: 500px 350px;
  }

  .element_2 {
    align-self: center;
    grid-column: 2/6;
  }

  #second_section h2 {
    font-size: 35px;
  }

  #second_section {
    margin-top: -200px;
    display: grid;
    grid-template-rows: 400px 400px 400px;
  }

  .small_col {
    grid-column: 2/5;
    grid-row: span 3/4;
  }
}

@media (max-width: 650px) {
  #first_section h2 {
    font-size: 25px;
  }

  #second_section h2 {
    font-size: 25px;
  }

  #first_section {
    display: grid;
    grid-template-rows: 300px 200px;
  }

  .element_2 {
    align-self: center;
    grid-column: 2/5;
  }
}
