html body {
  margin: 0;
}

/* main {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 1fr);
} */

#first_section {
  display: grid;
}

/* placering af splashbillede */
#first_section .col {
  grid-area: 1 / 1;
}

/* placering af h1, h2, p */
#first_section h1 {
  z-index: 1;
  padding-top: 4vw;
  margin-left: 5vw;
  grid-area: 1 / 1;
  font-size: 3vw;
  color: white;
}

#first_section h2 {
  z-index: 1;
  padding-top: 7.5vw;
  margin-left: 5.1vw;
  grid-area: 1 / 1;
  font-size: 2vw;
  color: white;
}

.billede1 {
  width: 30vw;
  height: 35.4vw;
  grid-column: 2;
  margin-top: 5em;
  border: solid black;
}

#second_section {
  display: grid;
  grid-template-columns: 50px 1fr 1fr 50px;

  place-content: end space-between;
}

#second_section .col {
  border: solid black;
  background-color: white;
  margin-top: -3.5em;
  /* margin-right: 3em; */
  grid-column: 3;
}

#second_section p {
  padding: 2em;
  line-height: 1.5em;
  /* word-break: break-word; */
  hyphens: auto;
}
