html body {
  margin: 0;
}

img {
  width: 100%;
}

h1 {
  font-family: "Abril Fatface", cursive;
}

h2 {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Montserrat", sans-serif;
  color: black;
}

.menu {
  margin: 0;
  padding: 0;
  width: 18vw;
  background-color: #ffa500;
  position: fixed;
  height: 100%;
  overflow: auto;
  z-index: 2;
}

.menu a {
  font-family: "Montserrat", sans-serif;
  display: block;
  color: white;
  padding: 18px;
  text-decoration: none;
  text-align: center;
}

.menu a:hover {
  opacity: 60%;
}

.logo {
  max-width: 12vw;
}
