html body {
  margin: 0;
  display: grid;
  grid-template-columns: 17.5vw 1fr;
  hyphens: auto;
}

* {
  margin: 0;
}

img,
video {
  width: 100%;
  display: block;
  height: auto;
}

h1 {
  font-family: "Abril Fatface", cursive;
  font-size: 3vw;
  text-shadow: 2px 2px 4px black;
  /* letter-spacing: 3px; */
  margin-left: 5vw;
  line-height: 1em;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2vw;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
}

#first_section h2 {
  margin-left: 5vw;
  font-size: 1.5em;
}

p {
  font-family: "Montserrat", sans-serif;
  color: black;
  line-height: 1.5em;
}

footer {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-bottom: 1em;
  margin-top: 1em;
}

header {
  background-color: #ffa500;
  grid-column: 1/1;
  margin: 0;
  padding: 0;
  width: 17.5vw;
  position: fixed;
  height: 100%;
  overflow: auto;
  z-index: 2;
}

main {
  grid-column: 2/2;
}

ul {
  list-style: none;
  padding: 0;
}

.menu a {
  font-family: "Montserrat", sans-serif;
  display: block;
  color: white;
  padding: 18px;
  text-decoration: none;
  text-align: center;
}

.menu a:hover {
  opacity: 60%;
}

.logo {
  max-width: 12vw;
  justify-content: center;
  padding-left: 2.35vw;
  padding-top: 2vw;
}

#fblogo,
#instalogo {
  height: 1.5em;
}

#some_logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.8em;
  padding-top: 1vw;
}

a {
  text-decoration: none;
  color: orange;
}

#kontakt {
  text-align: right;
  font-size: 0.8em;
}

@media (max-width: 900px) {
  html body {
    display: block;
  }

  header {
    position: sticky;
    background-color: #ffa500;
    width: auto;
  }
}
