html body {
  margin: 0;
  display: grid;
  grid-template-columns: 17.5vw 1fr;
  hyphens: auto;
}

* {
  margin: 0;
}

img {
  width: 100%;
  display: block;
}

h1 {
  font-family: "Abril Fatface", cursive;
  font-size: 2.5vw;
}

h2 {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Montserrat", sans-serif;
  color: black;
}

header {
  background-color: #ffa500;
  grid-column: 1/1;
  margin: 0;
  padding: 0;
  width: 17.5vw;
  background-color: #ffa500;
  position: fixed;
  height: 100%;
  overflow: auto;
  z-index: 2;
}

main {
  grid-column: 2/2;
}

/* .menu {
  margin: 0;
  padding: 0;
  width: 17.5vw;
  background-color: #ffa500;
  position: fixed;
  height: 100%;
  overflow: auto;
  z-index: 2;
} */

ul {
  list-style: none;
  padding: 0;
}

.menu a {
  font-family: "Montserrat", sans-serif;
  display: block;
  color: white;
  padding: 18px;
  text-decoration: none;
  text-align: center;
}

.menu a:hover {
  opacity: 60%;
}

.logo {
  max-width: 12vw;
  justify-content: center;
  padding-left: 2.35vw;
}

#fblogo,
#instalogo {
  max-height: 1.5em;
}

#some_logos {
  display: inline-flexbox;
  flex-direction: row;
}
