h2 {
  color: black;
  font-size: 1vw;
}

#first_section {
  padding: 2vw;
  grid-column: 1/2;
}

#third_section {
  grid-column: 2;
}

#fourth_section {
  grid-column: 1;
  grid-row: 3/4;
}

#aabningstider {
  border: thick solid #000;
  padding: 1vw;
}

#priser {
  border: solid #000;
  padding: 1.5vw;
}

main {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr (min-width: 800px);
  grid grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr (min-width: 800px);
}
/*
#fifth_section {
  display: inline-grid;
} */
